.DS_Store
dogImages/
lfw/
saved_models/weights.best.from_scratch.hdf5
saved_models/weights.best.vgg16.hdf5
.ipynb_checkpoints/
bottleneck_features/DogVGG16Data.npz

saved_models/weights.best.Xception.hdf5
saved_models/weights.best.VGG19.hdf5
saved_models/weights.best.VGG19.hdf5
saved_models/weights.best.VGG16.hdf5
saved_models/weights.best.VGG16.hdf5
saved_models/weights.best.VGG16.hdf5
saved_models/weights.best.VGG16.hdf5
saved_models/weights.best.VGG16.hdf5
saved_models/weights.best.VGG16.hdf5
saved_models/weights.best.VGG16.hdf5
saved_models/weights.best.VGG16.hdf5
saved_models/weights.best.VGG16.hdf5
saved_models/weights.best.Resnet50.hdf5
saved_models/weights.best.InceptionV3.hdf5
bottleneck_features/DogXceptionData.npz
bottleneck_features/DogVGG19Data.npz
bottleneck_features/DogResnet50Data.npz
bottleneck_features/DogInceptionV3Data.npz
images/neethu_2.jpg
images/neethu_1.jpg